body{ /*fluid layout*/
	padding: 0 10px;
	margin-top: 20px;
	margin-left:25%;
	margin-right:25%;
	background-color: #202020; /*#202020;*/
	color: rgba(255, 255, 255, 0.5);

	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

#header, #head{ /*header and thead*/
	color: #ff9d83;
	font-size: 23px;
	text-align: center;
}

.exponent{
	position: relative;
	font-size: 11px;
	bottom: 6px;
	left: 1px;
}
/*table*/
table{
	border-collapse: collapse;
}

.attri{
	font-weight: bold;
}

table, th, td{
	border: 3px solid #841b00;
	
	text-align:center;
}

table #body, #pictures img{
	width: 120px;
	height: auto;
}

/*Footer*/
footer ul{ /*ul*/
	position: fixed;
	bottom:0;
	right:0;
	background-color: #841b00;
	color: #ff9d83;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
}
footer li{
	float: left;
	padding: 1px 10px 1px 0;
}
footer li a{
	color: #ff9d83;
}

footer li a:hover{
	background-color: #ff9d83;
	color: #881b00;
}
