body{
	margin: 0;
}

#navbar-container{
	background-color: blue;
	overflow:hidden;
	position:relative;
	width:100%;
}

#navbar-container ul{
	position:relative;
	left:50%;
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}
#navbar-container ul li{
	position:relative;
	display:block;
	right:50%;
	float:left;
}
#navbar-container ul li a{
	display:block;
	padding: 10px 20px;
	color: #fff;
	text-decoration:none;
}

#navbar-container ul li a:hover{
	background-color: #000;
}

#onpage{
	text-decoration: underline overline;
}

#sidebar-container{
	position:fixed;
	left:0%;
	background-color:red;
	height:100%;
	width:20%;
	
}
#sidebar-container ul{
	list-style-type:none;
	text-align:center;
	padding:0;
}

#sidebar-container ul li a{
	display:block;
	padding: 15px 0;
	color:#fff;
	text-decoration:none;
}

#sidebar-container ul li a:hover{
	background-color: #000;
}

