/*General Elements*/
body{ /*fluid layout*/
	/*?position: absolute; needed?*/
	padding: 28px 10px;
	margin-top: 47px;
	margin-left:20%;
	margin-right:20%;
	background-color: #202020; /*#202020;*/
	color: rgba(255, 255, 255, 0.5);

	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

/*Navigation elements*/
.nav_pic{
	width:43px;
	height:43px;
	margin:0 10px;
}
.nav_bar ul{ /*ul*/
	position: fixed;
	left:0;
	top:0;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background-color: #841b00;
	padding: 0;
}
.nav_bar ul li{
	float: left;
	/*margin: 0 7.5px; separates the buttons*/
}
.nav_bar ul li a{
	display:block;
	background-color: #841b00;
	color: #ff9d83;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	padding: 15px 18px;	
	/*border-radius: 4px; makes the button look like a circle*/ 
}
.nav_bar ul li a:hover{
	background-color: #ff9d83;
	color: #881b00;
}
.nav_bar ul li a.current{
	background-color: #e77253;
	color: #841b00;
}
.clear{
	clear: both; 
}

/*Titles*/
.mTitle{
	color: #ff9d83;
	font-size: 28px;
	text-align: center;
	padding: 0 0 0 0;
}

/*Footer*/
.footers .footLines{ /*ul*/
	position: fixed;
	bottom:0;
	right:0;
	background-color: #841b00;
	color: #ff9d83;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.footers .footLines li{
	float: left;
	padding: 1px 10px 1px 0;
}
.footers .footLines li a{
	color: #ff9d83;
}
.footers .footLines li a:hover{
	background-color: #ff9d83;
	color: #881b00;
}
.secTitle{ /*section titles*/
	/*text-decoration: underline;*/
	margin: 20px 0;
	font-size: 22px;
	color: #ff9d83;
}
.descr{
	padding: 0 0 0 20px;
}

/*index.html elements*/
#index_intro #me{
	padding: 0 0 0 20px;
	margin: auto;
	width: 244.5px;
	height: auto;
	border-radius: 48px;
}

/*resume.html elements*/
#rName{
	margin-bottom: 0;
}
#rLowerName{
	font-size: 19px;
	text-align: center;
	padding: 0 0 0 0;
	margin-top: 10px;
}
#education .major_compl{
	margin: 0;
	padding:2px 0 2px 20px;
}

/*interests.html elements*/
#reading .booksTable{
	border: 0;
}
#reading .tableTitle{
	padding: 14px 0 6px 20px;
}
#reading .book_descr{
	padding:10px;
}
#reading img{
	padding: 0 0 0 20px;
	margin: auto;
	width: 244.5px;
	height: auto;
}
#videogames ul img{
	width: 200px;
	height: 200px;
}
#videogames .img_link{
	padding: 191px 0 0 0;	
}
#videogames .img_link:hover{
	background-color: #ff9d83;
}
#videogames #smallLink{
	color: #ff9d83;
}
#videogames #smallLink:hover{
	background-color: #ff9d83;
	color: #881b00;
}

/*CompHS.html elements*/
#HSvideo{
	margin: auto;
	border: 0;
	display: block;
}
#HStable, .th_HStable, .td_HStable{
	width: 50%;
	border: 3px solid #841b00;
	border-collapse: collapse;
	margin:auto;
}
#HStable #thead_comp{
	font-size:20px;
	color: #ff9d83;
}
#HStable a{
	color: #ff9d83;
}
#HStable a:hover{
	background-color: #ff9d83;
	color: #881b00;
}
#guldan{
	max-width:49.9%;
	margin:auto;
	padding: 10px 0;
	display: block;
}

/*Responsive Design*/
@media only screen and (max-width: 800px){
	body{
		background-color:pink;
	}
}